.mg-r-15 {
    margin-right: 15px;
}

a.transparent-bg {
    border: 1px solid #ea1b25;
    color: #000 !important;
    padding: 8px 25px;
}

a.red-bg {
    padding: 8px 25px;
    color: #fff;
}

nav > div > ul {
    float : right;
}

.auth-form {
    width: 40%;
    margin: 0 auto;
    background: #fff;
    padding: 40px 30px;
    border-radius: 5px;
}

.text-white,
.text-white:hover {
    color: #fff;
}

.mg-b-25 {
    margin-bottom: 25px;
}

.mg-b-50 {
    margin-bottom: 50px;
}

.food-types {
    float: left;
    width: auto;
    font-family: Poppins;
    font-weight: 700;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 13px;
    margin-right: 15px;
}

.btn-red,
.btn-red:hover {
    background-color: #ea1b25;
    color: #fff;
}

.dashboard-profile { 
    padding : 15px;
}

.dashboard-profile label {
    display: block;
}

.select2-container--bootstrap {
    width: 100% !important;
}

.order-list-wrapper p {
    width: 100%;
    color: #000;
    margin-bottom: 0px;
}

.title-section {
    margin-bottom: 35px;
    border-bottom: 1px solid #e4e3e3;
}

.w100 {
    width: 100%;
}

span.food-types {
    margin-bottom: 0px;
}

.no-br {
    border: none;
}