.mg-r-15 {
    margin-right: 15px;
}

a.transparent-bg {
    border: 1px solid #ea1b25;
    color: #000 !important;
    padding: 8px 25px;
}

a.red-bg {
    padding: 8px 25px;
    color: #fff;
}

nav > div > ul {
    float : right;
}

.auth-form {
    width: 40%;
    margin: 0 auto;
    background: #fff;
    padding: 40px 30px;
    border-radius: 5px;
}

.text-white,
.text-white:hover {
    color: #fff;
}

.mg-b-25 {
    margin-bottom: 25px;
}

.mg-b-50 {
    margin-bottom: 50px;
}